@model List<BMShop.Models.CartItem>

<div class="cart">
    <p>
    <span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count item(s) - @*@(Model.Sum(x=>))*@
        </div>
    </p>
</div>
