<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Trang chủ -->
    <li class="nav-item active">
        <a class="nav-link" href="~/Admin/Home/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Hệ thống -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-fw fa-user" ></i>
            <span>Hệ thống</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="~/Admin/UserGroup/Index">Nhóm người dùng</a>
                <a class="collapse-item" href="~/Admin/User/Index">Người dùng</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tin tức -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Tin tức</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="~/Admin/Category/Index">Danh mục</a>
                <a class="collapse-item" href="~/Admin/Content/Index">Tin tức</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Sản phẩm -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-shopping-basket"></i>
            <span>Sản phẩm</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="~/Admin/ProductCategory/Index">Danh mục</a>
                <a class="collapse-item" href="~/Admin/Product/Index">Sản phẩm</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Quản lý chung -->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý chung
    </div>

    <!-- Nav Item - Giới thiệu -->
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/About/Index">
            <i class="fas fa-fw fa-info"></i>
            <span>Giới thiệu</span>
        </a>
    </li>

    <!-- Nav Item - Footer -->
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Footer/Index">
            <i class="fas fa-fw fa-caret-down"></i>
            <span>Footer</span>
        </a>
    </li>

    <!-- Nav Item - Menu -->
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Menu/Index">
            <i class="fas fa-fw fa-list"></i>
            <span>Menu</span>
        </a>
    </li>

    <!-- Nav Item - Slide -->
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Slide/Index">
            <i class="fas fa-fw fa-image"></i>
            <span>Slide</span>
        </a>
    </li>

    <!-- Nav Item - Phản hồi -->
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Feedback/Index">
            <i class="fas fa-fw fa-comment"></i>
            <span>Phản hồi</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>