@model List<Model.EF.Content>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @foreach (var item in Model)
    {
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="@item.Image" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>@item.Name</h3>
                <h4>@item.CreatedBy</h4>
                <p>@item.Description</p>
            </div>
        </div>

    }
</div>



